.TopInfo{
    margin-inline: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-size: 1.5rem;

    text-align: center;
    background-color: white;
    max-width: 50ch;
    padding: 2ch;

    border-radius: 2rem;

}

.fly {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;

    border-radius: 10%;

    max-width: 25%;
    height: auto;
}

.sideBar {
    height: 100%;
    width: 13rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 207, 136);

    background-image: url(Carpet.jpg);
    background-repeat: repeat;
    
}
.sideBar2 {
    height: 100%;
    width: 13rem;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(255, 207, 136);

    background-image: url(Carpet.jpg);
    background-repeat: repeat;
    
}

.Carp {
    height: auto;
    width: 100%;
    opacity: 50%;
}

main {
    margin-inline: auto;
    font-size: 1.5rem;
    max-width: 65ch;
    text-size-adjust: auto;
    background-color: white;
    padding: 5ch;

    border-radius: 2rem;
    margin-bottom: 5rem;


    
}

body{
    background-color: darksalmon;
}